<%= form_tag solutioncheck_path,:method=>:post, :id => 'sol_form' do %>
  <div class="field">
    <%= text_area_tag :solution,"",:placeholder=>"Please enter the solution here.." %>
  </div>
  <div class="actions">
    <table>
      <tr>
        <td><%= link_to 'Prev Lesson',lcontent_path(prev_lesson_id) %></td>
        <td> <%= submit_tag "Submit" %></td>
        <td><%= link_to 'Next Lesson',lcontent_path(next_lesson_id) %></td>
      </tr>
    </table>
   
  </div>
 <% end %>
