<h2><%= @coursemod.module_name %></h2>
<h4><%= @coursemod.module_desc %></h4>
<table class="profile" summary="profile information">
  <tr>
    <td class="main">
     <strong><%= render 'lessons_list' %></strong>
    </td>
    <% if has_permissions_on?('course','c') %>
      <td class="sidebar round">
         <%= link_to 'New Lesson?',new_lesson_path %><br/>
      </td>
    <% end %>
  </tr>
</table>

<%= link_to 'Back',@course %>

   
