 <%= render 'shared/error_messages', :object=> f.object %>
   <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name , :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label  "Purpose:" %><br/>
    <%= f.select(:role,[['Learn','user'],['Teach','c_creator']],:include_blank=>true) %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email , :class => 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password , :class => 'form-control' %>
  </div>
  
   <div class="field">
    <%= f.label :password_confirmation, "confirmation" %><br/>
    <%= f.password_field :password_confirmation , :class => 'form-control' %>
  </div>
