<h1>Edit User</h1>

<%= form_for(@user) do |f| %>
<<<<<<< HEAD
  <%= render 'fields', :f => f %>  
=======
  <%= render 'fields', :f => f %>
>>>>>>> user-microposts
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <%= link_to "Change", "http://gravatar.com/emails", :target => "_blank" %>
</div>
