    <% if signed_in? %>
      <table class="front" summary="For signed in users">
        <tr>
          <td class="main">
            <h1 class="micropost">What's up?</h1>
            <%= render 'shared/micropost_form' %>
            <%= render 'shared/feed'%>
          </td>
          <td class="sidebar round">
              <%= render 'shared/user_info' %>
              <%= render 'shared/stats' %>
              <strong>
                <% if has_permissions_on?('course','c') %>
                   <%= link_to "Course Manager",coursemanager_path %><br/>
                <% end %>
                <%= link_to 'Browse courses',courses_path %>  
              </strong>
              
          </td>
        </tr>
      </table>
    <% else %>
        <div class="jumbotron">
          <div class="container">
            <h1  style='font-size:200px;color:#d9534f;text-shadow:0 1px 2px #191A1B, 0 1px 0 #191A1B'>
              <span class="glyphicon glyphicon-cloud" style='vertical-align:middle'></span>
              <span  style='font-size:100px;'> Data Skills Lab</span>

            </h1>
            <p style='min-height:100px;font-size:50px;color:#888'>Learn to Code Online...</p>
            <p>
              <%= link_to "Sign up now!", signup_path, :class=>"signup_button round btn btn-default btn-lg", :style=>'width:30%' %>
              <!--<a class="btn btn-primary btn-lg" href='/more'>Learn more</a>-->
            </p>
          </div>
        </div>

      <!--<p>This is the home page for the-->
      <!--<a href="http://railsbridgeboston.org"> ruby on rails tutorial</a>-->
      <!--sample application      -->
      <!--</p> -->

    <% end %>
    
     
 
