
<div class="profile" summary="profile information">
 
     <h4><strong><%= @lesson.name %></strong></h4>
     <%= @lesson.description %><br/>
     <strong>Instructions:</strong><%= @lesson.instructions %><br/>
     <strong>Tips: </strong><%= @lesson.tips %><br/>
</div>
<%= render 'solution_form' %>
<%= link_to 'back',@coursemod %>


   
