
<div class="profile" summary="profile information">
 
     <h4><strong><%= @lesson.name %></strong></h4>
     <%= @lesson.description %><br/>
     <strong>Instructions:</strong><%= @lesson.instructions %><br/>
     <strong>Solution:</strong><%= @lesson.solution %><br/>
     <strong>Tips: </strong><%= @lesson.tips %><br/>
    
    <%= link_to 'back',@coursemod %>
   
 
</div>


   
